et-xmlfile==1.0.1
fasttext==0.9.1
jdcal==1.4.1
nltk==3.4.5
numpy==1.22.0
openpyxl==3.0.2
pandas==0.25.3
psutil==5.6.7
pybind11==2.4.3
python-dateutil==2.8.1
python-Levenshtein==0.12.0
pytz==2019.3
six==1.13.0
xlrd==1.2.0
